<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>
</head>
<body>
    <h3 style="text-align: center;">Secretaria</h3>
    <section style="display: flex; justify-content: center;">
     <menu style="display: flex; flex-direction: column; width: 200px;">
      <button><a href="cadastro-usuario.html">Cadastrar Usuário</a></button>
      <button>Cadastrar Disciplina</button>
      <button id="buttonLogarUsuarios">logar usuarios</button>
     </menu>   
    </section>
</body>
<script src="src/main.js" type="module"></script>
</html>